<div class="row">
    <div class="col-10 ">
        thats items list
        <ul>
            <li>item1</li>
            <li>item21</li>
            <li>item13</li>
        </ul>
    </div>
    <div class="col-2">
        thats shopping cart
    </div>
</div>